In [1]:
## Creating Dictionaries
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [3]:
setq={}

In [7]:
print(type(setq))

<class 'dict'>

In [9]:
empty_dict=dict()
empty_dict

{}

In [11]:
student={"name":"Krish","age":32,"grade":24}
print(student)
print(type(student))

{'name': 'Krish', 'age': 32, 'grade': 24}
<class 'dict'>

In [13]:
## Accessing Dictionary elements
print(student['grade'])
print(student['age'])

## Accessing using get() method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"Not Available"))

24
32
24
None
Not Available

In [15]:
## Modifying Dicitonary Elements
## Dictionary are mutable,so you can add, update or delete elements
print(student)

{'name': 'Krish', 'age': 32, 'grade': 24}

In [17]:
student["age"]=33  ##update value for the key
print(student)
student["address"]="India" ## added a new key and value
print(student)

{'name': 'Krish', 'age': 33, 'grade': 24}
{'name': 'Krish', 'age': 33, 'grade': 24, 'address': 'India'}

In [19]:
del student['grade'] ## delete key and value pair

print(student)

{'name': 'Krish', 'age': 33, 'address': 'India'}

In [21]:
## Dictionary methods

keys=student.keys() ##get all the keys
print(keys)
values=student.values() ##get all values
print(values)

items=student.items() ##get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Krish', 33, 'India'])
dict_items([('name', 'Krish'), ('age', 33), ('address', 'India')])

In [23]:
#important
## shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'Krish', 'age': 33, 'address': 'India'}
{'name': 'Krish', 'age': 33, 'address': 'India'}

In [25]:
student["name"]="Krish2"
print(student)
print(student_copy)

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'Krish2', 'age': 33, 'address': 'India'}

In [27]:
#immutable
a = 5
b = a
a = a + 1

In [29]:
print(a,b)

6 5

In [31]:
# Mutable example
list1 = [1, 2, 3]
list2 = list1  # list2 references the same list object as list1
list1.append(4)  # Modifies the list in place
print(list2)  # Output: [1, 2, 3, 4] (list2 reflects the change)

[1, 2, 3, 4]

In [33]:
student_copy1=student.copy() ## shallow copy
print(student_copy1)
print(student)

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'Krish2', 'age': 33, 'address': 'India'}

In [35]:
student["name"]="KRish3"
print(student_copy1)
print(student)

{'name': 'Krish2', 'age': 33, 'address': 'India'}
{'name': 'KRish3', 'age': 33, 'address': 'India'}

In [41]:
### Iterating Over Dictionaries
## You can use loops to iterate over dictionatries, keys,values,or items

## Iterating over keys
for keys in student.keys():
    print(keys)
print()
for values in student.values():
    print(values)

print()
for keys,values in student.items():
    print(keys,values)

name
age
address

KRish3
33
India

name KRish3
age 33
address India

In [43]:
## Nested Disctionaries
students={
    "student1":{"name":"Krish","age":32},
    "student2":{"name":"Peter","age":35}
}
print(students)

{'student1': {'name': 'Krish', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [45]:
## Access nested dictionaries elementss
print(students["student2"]["name"])
print(students["student2"]["age"])

Peter
35

In [51]:
print(students["student1"]["age"])
print(students["student1"]["name"])

32
Krish

In [65]:
## Iterating over nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Krish', 'age': 32}
name:Krish
age:32
student2:{'name': 'Peter', 'age': 35}
name:Peter
age:35

In [91]:
my_dictionary={1:{1:"k"},2:{2:"2k"},3:{3:"3k"}}

In [101]:
for i,j in my_dictionary.items():
    print(i,j)
    for x,y in j.items():
        print(x,y)

1 {1: 'k'}
1 k
2 {2: '2k'}
2 2k
3 {3: '3k'}
3 3k

In [63]:
list2=[1,2,3,4,5,6,6,7,8,7,5,5,4,4]
dict1={}
for frequency in list2:

4
5
6
6
7
7
5
5
4
4

In [111]:
dictionay1={x:x**3 for x in range(5)}

In [115]:
dictionay2={x:x for x in range(5)}

In [125]:
dictionary3={x:x for x in range(10) if x%2==0}
print(dictionary3)

{0: 0, 2: 2, 4: 4, 6: 6, 8: 8}

In [107]:
dictionay1

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

In [117]:
dictionay2

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4}

In [129]:
dict4={}
for i in range(5):
    dict4[i]=i
print(dict4)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4}

In [145]:
#practical example
##using dict count freq of every element
arr=[1,2,3,4,4,4,4,3,3,2,2,1,1,1,1,2,3,4,4,3,3,32,3,4,4,4,3,3,3,4,4,4,4,4,4,4,4,3,4,3,32,54]
dict5={}
unique=set(arr)
for i in arr:
    dict5[i]=arr.count(i)
print(dict5)

{1: 5, 2: 4, 3: 12, 4: 18, 32: 2, 54: 1}

In [151]:
## Practical Examples

## USe a dictionary to count he frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)
%time

{1: 1, 2: 2, 3: 3, 4: 4}
CPU times: total: 0 ns
Wall time: 0 ns

CPU times: total: 0 ns
Wall time: 0 ns